/*
 * Assignment 02
 * CSS FILE
 */

header {
    padding: 1rem;
    background-color: #E3F3DF;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin:25px 50px 75px 100px;
}

.logo-heading {
    display:flex;
    align-items: center;
}

header img {
    width: 5rem;
}

header h2 {
    padding: 1rem;
}

header nav {
    display: flex;
    align-items: center;
  }

header nav ul {
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    color: #5B9279;
    margin: .5rem;
    padding: 0;
}

header nav ul li a:hover {
    text-decoration: underline;
  }

main img {
    margin-top: 0;
    padding: 2rem;
    width: 40%;
}

.intro {
    display:flex;
    justify-content: space-between;
    align-items: center;

}

main p {
    margin: 2rem;
    line-height: 2rem;
}

main h1{
    margin-left: 2rem;
    padding: 0rem;
}

.paragraph {
    display:flex;
    flex-direction: column;
    justify-content: start;
}

.travel p {
    margin: 2rem;
    margin-top: 1rem;
    font-size: large;
    background-color: #EBF5EE;
}

.images {
    display:flex;
    flex-direction: row;
    align-items: space-between;
    width:83.6%;
    margin-top: -1.8rem;
    padding:1rem;
}

.experience {
    padding: 2rem;
    margin-top: -3rem;
    font-size: larger;
}

.organize {
    margin-top: 1rem;
}

table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
    background-color: #EBF5EE;
}

table th {
    letter-spacing: 1px;
    text-align: center;
}

table td {
    letter-spacing: 1px;
    text-align: center;
}

.describe h2 {
    margin-top: -2rem;
    padding: 2rem;
}

.lists {
    margin-top: -1rem;
    font-size: larger;
    margin-bottom: 7rem;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.contact h2 {
    font-size: xx-large;
}

.name {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.email {
    padding-bottom: 3rem;
    width: 100%;
}

.btn{
    display: block;
    text-align: center;
    margin-top: -1rem;
    background-color: #92AD94;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    text-decoration: none;
    margin-bottom:2rem;
  }

footer {
    margin-top:5rem;
}

footer img {
    width: 20%;
}

footer h2 {
    margin-top: -3rem;
    padding: 2rem;
}

footer nav ul {
    list-style: none;
}

footer nav ul li a{
    text-decoration: none;
    color:black;
}

.end {
    margin-top: -1rem;
}

